{% extends 'base.html.twig' %}

{% block title %}Règles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/rules.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cards-carrousel.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cards-counter.css') }}">
{% endblock %}
    
{% block javascripts %}
    <script src="{{ asset('js/cards-carrousel.js') }}"></script>
    <script src="{{ asset('js/cards-counter.js') }}"></script>
{% endblock %}

{% block body %}
    <section class="header container">
        <div class="header-content">
            <div class="header-content-text">
                <h1>Règles du jeu</h1>
                <p>Quelque part en pleine Mer, un groupe de Marins est chargé de transporter un Trésor, mais des pirates ont peut-être infiltré leur équipage afin de le voler.</p>
                <p>Entre tempête, mal de mer, sirènes, trahisons et autres dangers, le trésor arrivera-t-il à bon port ?</p>
                <a href="" class="btn-ico btn-ico-rouge">Télécharger les règles complètes</a>
            </div>
        </div>
    </section>
    
    {# <section id="sommaire" class="container">
        <h2>Sommaire</h2>
        <ol type="I">
            <li><a href="#but">But du jeu</a></li>
            <li><a href="#materiel">Matériel</a></li>
            <li><a href="#cartes">Les Cartes</a></li>
            <li><a href="#distribution">Distribution des cartes</a></li>
            <li><a href="#partie">Déroulement d’une partie</a></li>
            <ol>
                <li><a href="#place">Mise en place</a></li>
                <li><a href="#voyage">Premier Voyage</a></li>
                <li><a href="#suite">Suite de la partie</a></li>
                <li><a href="#conditions">Conditions de Victoire</a></li>
            </ol>
        </ol>
    </section> #}


    <section id="but" class="container">
        {% for rule in rules %}
            {% if rule.section == 'but' %}
                <h2>{{ rule.title }}</h2>
                <p>{{ rule.content }}</p>
            {% endif %}
        {% endfor %}
    </section>


    <section id="materiel" class="container">
        <h2>Matériel par pack:</h2>
        {% for pack in packs %}
            <p>Pack: {{ pack.name }}</p>
            <p>Nombre total de cartes : {{ totalCardsInPacks[pack.id] }}</p>
        {% endfor %}
    </section>


    <section id="cartes">
        {% include 'rules/cards-carrousel.html.twig' %}
    </section>

    <section id="distribution" class="container">
        {% include 'rules/counter.html.twig' %}
    </section>


    <section id="mise-en-place" class="container">
        <h2>Mise en place du jeu</h2>
        {% for game in rules %}
            {% if game.section == 'mise-en-place' %}
                {% if game.title == 'banner-warning' %}
                    <p class="banner-warning">{{ game.content }}</p>
                {% else %}
                    <p>{{ game.content }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>


    <section id="premier-voyage" class="container">
        {% for travel in rules %}
            {% if travel.section == 'premier-voyage' %}
                <h2>{{ travel.title }}</h2>
                <p>{{ travel.content }}</p>
            {% endif %}
        {% endfor %}
    </section>


    <section id="suite-partie" class="container">
        <h2>Suite de la partie</h2>
        {% for game in rules %}
            {% if game.section == 'suite-partie' %}
                {% if game.title == 'banner-warning' %}
                    <p class="banner-warning">{{ game.content }}</p>
                {% else %}
                    <p>{{ game.content }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>



    <section id="victoire" class="container">
        <h2>Condition de victoire</h2>
        {% for win in rules %}
            {% if win.section == 'victoire' %}
                <h2>{{ win.title }}</h2>
                <p>{{ win.content }}</p>
            {% endif %}
        {% endfor %}
    </section>


    <section class="downloads container">
        <h2>Téléchargez les Ressources du Jeu</h2>
        <div class="download-list">
            <div class="download-item">
                <p><a href="{{ asset('pdf/rules.pdf') }}" download>Télécharger les règles complètes</a></p>
            </div>
            <div class="download-item">
                <p><a href="{{ asset('pdf/characters.pdf') }}" download>Télécharger les cartes personnages</a></p>
            </div>
            <div class="download-item">
                <p><a href="{{ asset('pdf/actions.pdf') }}" download>Télécharger les cartes actions</a></p>
            </div>
        </div>
    </section>
{% endblock %}