{% extends 'base.html.twig' %}

{% block title %}Packs{% endblock %}

{% block body %}
<h1>Packs</h1>
{% if packs is empty %}
    <p>Aucun article n'est à vendre.</p>
{% else %}
    <div class="packs">
        {% for item in packs %}
            <article class="packs-item">
                <!-- Le lien est modifié pour diriger vers la page du produit spécifique en fonction de son ID -->
                <h2><a href="{{ path('product_show', {'id': item.id}) }}">{{ item.name }}</a></h2>
                <a href="{{ path('product_show', {'id': item.id}) }}"><img src="{{ item.image }}" alt="{{ item.name }}" /></a>
                <a href="{{ path('product_show', {'id': item.id}) }}"><p>{{ item.description }}</p></a>
                <a href="{{ path('product_show', {'id': item.id}) }}"><p>{{ item.price }} €</p></a>
                <!-- <p>Publié le : {{ item.CreatedAt|date('d/m/Y H:i') }}</p> -->
            </article>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
