{% extends 'base.html.twig' %}

{% block title %}Détails du pack : {{ pack.name }}{% endblock %}

{% block body %}
<article class="pack-item">
    <img src="../{{ pack.image }}" alt="{{ pack.name }}" />
    <div class="pack-infos">
        <h1>{{ pack.name }}</h1>
        <p>{{ pack.description }}</p>
        <p>{{ pack.price }} €</p>
    </div>
</article>

<h2>Cartes dans ce pack</h2>
<div class="cards-list">
    {% for card in cards %}
        <article class="card-item">
            <a href="{{ path('card_show', { id: card.id }) }}"><img src="../{{ card.image }}" alt="{{ card.name }}" /></a>
        </article>
    {% else %}
        <p>Aucune carte dans ce pack.</p>
    {% endfor %}
</div>
{% endblock %}