{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet" />
    <link href="{{ asset('css/carousel.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/packs.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock %}

{% block title %}Détails du pack : {{ pack.name }}{% endblock %}

{% block body %}

<article class="pack-item">
    <img src="{{ pack.image }}" alt="{{ pack.name }}" />
    <div class="pack-infos">
        <h1>{{ pack.name }}</h1>
        <p>{{ pack.description }}</p>
        {# Nombre total de cartes : {{ cardCount }} #}
        <p>{{ pack.price }} €</p>
    </div>
</article>

<div class="w-full relative margin-container">
<h2>Cartes dans ce pack</h2>
<div class="centered-slide-carousel swiper-container relative swiper-initialized swiper-horizontal swiper-backface-hidden">
<div class="swiper-wrapper" id="swiper-wrapper-36e9daca654d311c" aria-live="polite">

    {% for card in cards %}
        <div class="swiper-slide"
             role="group" 
             aria-label="{{ loop.index }} / {{ cardCount }}" 
             data-swiper-slide-index="{{ loop.index0 }}">
            <div class="bg-indigo-50 rounded-2xl h-96 flex justify-center items-center">
                <span class="text-3xl font-semibold text-indigo-600">
                    <a href="{{ path('card_show', { id: card.id }) }}">
                        <img src="/{{ card.image }}" alt="{{ card.name }}" />
                    </a>
                </span>
            </div>
        </div>
    {% else %}
        <p>Aucune carte dans ce pack.</p>
        
    {% endfor %}

</div>
</div>
</div>

<script>
var swiper = new Swiper(".centered-slide-carousel", {
	centeredSlides: true,
	paginationClickable: true,
	loop: true,
	spaceBetween: 30,
	slideToClickedSlide: true,
	pagination: {
		el: ".centered-slide-carousel .swiper-pagination",
		clickable: true,
	},
	breakpoints: {
		1920: {
			slidesPerView: 9,
			spaceBetween: 30,
		},
		1028: {
			slidesPerView: 6    ,
			spaceBetween: 30,
		},
		990: {
			slidesPerView: 4,
			spaceBetween: 30,
		},
        		0: {
			slidesPerView: 3,
			spaceBetween: 10,
		},
	},
});
</script>
{% endblock %}