<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/" />
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="icon" href="{{ asset('assets/favicon.svg') }}" />
        <link href="https://db.onlinewebfonts.com/c/92d107809e07d19ef1446daa906f8573?family=Chaloops+W00+Md+Reg" rel="stylesheet" type="text/css"/>
        <link href="https://db.onlinewebfonts.com/c/2cc96cec0b01c9bea5a33ef2402a348c?family=Filson+Pro" rel="stylesheet" type="text/css"/>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include 'menu/index.html.twig' %}
        <div class="inner-body">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <div class="footer-inner container">
                <nav class="menu-footer">
                    <ul>
                        <li><a href="#">Légal</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">À propos des pubs</a></li>
                    </ul>
                </nav>
                <nav class="menu-footer">
                    <ul>
                        <li><a href="{{ path('rules') }}">Règles</a></li>
                        <li><a href="{{ path('news') }}">News</a></li>
                        <li><a href="{{ path('events') }}">Events</a></li>
                    </ul>
                </nav>
                <small>© 2025 ICO. All rights reserved.</small>
            </div>
        </footer>
    </body>
</html>