// filepath: /templates/news/index.html.twig
{% extends 'base.html.twig' %}

{% block title %}News index{% endblock %}

{% block body %}
    <h1>News index</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td>{{ news.id }}</td>
                <td>{{ news.title }}</td>
                <td>{{ news.content }}</td>
                <td>
                    <a href="{{ path('admin_news_show', {'id': news.id}) }}">show</a>
                    <a href="{{ path('admin_news_edit', {'id': news.id}) }}">edit</a>
                    {{ include('news/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_news_new') }}">Create new</a>
{% endblock %}