{% extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block body %}
    <h1>Événements</h1>

    {% if events is empty %}
        <p>Aucun événement disponible pour le moment.</p>
    {% else %}
            {% for event in events %}
            <article class="events-item">
            <a href="{{ path('events_show', {'id': event.id}) }}"><img src="{{ event.image }}" alt="{{ event.title }}"></a> 
            <div>
                <a href="{{ path('events_show', {'id': event.id}) }}"><h2>{{ event.title }}</h2></a> 
                <p>Du {{ event.StartDate|date('d/m/Y') }} au {{ event.EndDate|date('d/m/Y') }}</p>
                <p>{{ event.content }}</p>
            </div> 
            </article> 
            {% endfor %}
    {% endif %}
{% endblock %}
