{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
<h1>Actualités</h1>
{% if news is empty %}
    <p>Aucune actualité pour le moment.</p>
{% else %}
    <div class="news-container">
        {% for item in news %}
            <article class="news-item">
                <h2>{{ item.title }}</h2>
                <p>{{ item.content|raw }}</p>
                <img src="{{ item.image }}" alt="{{ item.title }}" />
                <p>Publié le : {{ item.CreatedAt|date('d/m/Y H:i') }}</p>
                
                {% if item.updatedAt is not null %}
                    <p>Dernière mise à jour : {{ item.updatedAt|date('d/m/Y H:i') }}</p>
                {% endif %}

                <!-- Obtenir le statut 
                <p>{{ item.StatusId.name }}</p> --> 

            </article>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
