{% extends 'base.html.twig' %}

{% block title %}Détails du pack : {{ singleNews.title }}{% endblock %}

{% block body %}
    <header class="precise-news-container">
        <h1>{{ singleNews.title }}</h1>
        <p class="precise-news-date">Publié le {{ singleNews.createdAt|date('d/m/Y') }} à {{ singleNews.createdAt|date('H:i') }}</p>
        <div class="precise-news-image-container"><img src="{{ singleNews.image }}" alt="{{ singleNews.title }}" /></div>
    </header>
    <p class="precise-news-content">{{ singleNews.content|nl2br }}</p>
    
{% endblock %}