{% extends 'base.html.twig' %}

{% block title %}Cartes{% endblock %}

{% block body %}
    <h1>Cartes</h1>
    {% for card in cards %}
    <article class="events-item">
    <img src="{{ card.image }}" alt="{{ card.name }}">
    <div>
        <h2>{{ card.name }}</h2>
        <p>Type : {{ card.type.name }}</p>
        <p>{{ card.description }}</p>
    </div> 
    </article> 
    {% endfor %}

{% endblock %}