{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.first_name) }}
        {{ form_row(registrationForm.last_name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.address) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

{# test #}

{# {% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
    <h1>Créer un utilisateur</h1>

{% if errorMessage is not empty %}
    <div class="form-errors">
        <ul>
            {% for error in errorMessage %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

    {{ form_start(form, {'attr': {'class': 'form-container'}}) }}
        {{ form_widget(form, {'attr': {'class': 'form-input'}}) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %} #}