<nav class="menu">
    <ul>
        <li>
            <a href="{{ path('home') }}">
                <img src="{{ asset('images/logo.svg') }}" alt="logo d'ICO" class="icon-logo">
            </a>
        </li>
        <div class="inner-menu">
            <li><a href="{{ path('rules') }}">Règles</a></li>
            <li><a href="{{ path('packs') }}">Packs</a></li>
            <li><a href="{{ path('news') }}">News</a></li>
            <li><a href="{{ path('events') }}">Events</a></li>
            <li><a class="btn-ico btn-ico-rouge" href="">Achetez ICO !</a></li>
        </div>
        <li class="dropdown">
            <a href="{{ path('user_account') }}">
                <img src="{{ asset('images/user.svg') }}" alt="icône utilisateur" class="icon-user">
            </a>
            <ul class="dropdown-menu">
                <div class="dropdown-menu-inner">
                {% if app.user == false %}
                    <li><a href="{{ path('register') }}">Inscription</a></li>
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}
                {% if app.user %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                    <li><a href="{{ path('admin_dashboard') }}">Admin</a></li>
                    {% endif %}
                    <li><a href="{{ path('user_account') }}">Profil</a></li>
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% endif %}
                </div>
            </ul>
        </li>
    </ul>
</nav>